body {
  margin: 0;
  font-family: "Questrial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input:focus-visible {
  outline-width: 0px;
  border : 2px solid #FF9966

}
button{
  cursor: pointer;
}
input[type="submit"]{
  cursor:pointer;
}
input:not([type="submit"]):focus-visible {
  outline-width: 0px;
  border : 2px solid #FF9966
}
